*{
padding: 0;
margin: 0;
}
header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right,red,#580e67);
}
#logobox{
    width: 30%;
    height: 100px;
    float: right;
    background-color: #fafafa;
}
#idh1{
    float: left;
    line-height: 100px;
    padding:0 15px;
}
#logo{
height: 100%;
border-radius: 50%;   

}
nav{
    width: 70%;
    text-align: center;

}

header a{
    color: #000;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav li{
    display: inline-block;
    line-height: 100px;
    width: 100px;
    text-align: center;
    
}
nav a:hover{
    background-color: #fafafa;
    color: #000;
    width: 100%;
    height: 100%;
    display: inline-block;
}
main{
    width: 100%;
    height: 450px;
    background-color: red;
    border-top: 3px solid white;
    animation-name: changebackground ;
    animation-duration:10s ;
    animation-iteration-count: infinite;

}
aside{
    width: 30%;
    height: 100%;
    background-color: #fafafa;
    text-align: center;
    float: left;
}
aside img{
    width: 90%;
    height: 200px;

}
#h1asid{
    padding: 20px ;
    border-bottom: 2px solid red;

}
article{
    width: 70%;
    height: 450px;
    float: right;
    position: relative;
}
#box{
    padding: 15px;
    text-align: center;
    background-color: #fafafa;
    width: 400px;
    height: 180px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
#box h1{
    border-bottom: 3px solid red;
    padding: 15px 0;
}
#box p{
    padding: 15px;
    font-family: monospace;
    text-align: justify;
}
#contact-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-box img{
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border-bottom: 3px double red;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
}
#contact-box img:hover{
    width: 55px;
    height: 55px;
    border-bottom: 3px sold black;
}
@media only screen and (min-width:1140) and (max-width:1070px){
    #logobox{
        width: 36%;
    }
}
@keyframes changebackground{
    0%{background-color:rgb(21, 97, 84) ;}
    25%{background-color: #580e67;}
    50%{background-color: rgb(118, 29, 219);}
    100%{background-color: rgb(231, 193, 121);}
}
